<% title :observations, :small=>"poznámky pro #{@observation.find_course.name} (#{@observation.course})" %>

<%= render @observation.notes %>

<% if can? :create, Note %>
  <h2>Nová poznámka</h2>
  <%= render 'form' %>
<% end %>
