<% title "Tests" %>

<table>
  <tr>
    <th>Shipping Name</th>
    <th>Billing Name</th>
  </tr>
  <% for test in @tests %>
    <tr>
      <td><%= test.shipping_name %></td>
      <td><%= test.billing_name %></td>
      <td><%= link_to "Show", test %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Test", new_test_path %></p>
