<% title :observations, :small=>"poznámky pro #{@observation.course.name} (#{@observation.course.code})" %>

<%= render @observation.notes %>

<% if can? :create, @note %>
  <h2>Nová poznámka</h2>
  <%= render 'form' %>
<% end %>
