<% title "Test" %>

<p>
  <strong>Shipping Name:</strong>
  <%= @test.shipping_name %>
</p>
<p>
  <strong>Billing Name:</strong>
  <%= @test.billing_name %>
</p>

<p>
  <%= link_to "View All", tests_path %>
</p>
