<% title "Kontrola kvality výuky" %>

<h2>Obecně, pravidla, návody</h2>

<ul>
  <li>Postupy pro kontrolu kvality výuky pdf TEX_zdroj</li>
  <li>Návod pro hospitující pdf, docx.</li>
  <li>Formuláře pro hospitující i hospitované</li>
  <ul>
    <li>Formulář A (pro hodnocení výuky při hospitaci) pdf Je záměrně jen v pdf, protože se má vyplňovat ručně na přednášce, hned ukázat přednášejícímu a potom skenovat.</li>
    <li>Formulář B (slovní hodnocení hospitační návštěvy hospitujícím(mi)) pdf, doc, odt.</li>
    <li>Formulář C (stanovisko hodnoceného učitele k názorům hospitujícího) pdf,doc, odt.</li>
    <li>Formulář D (závěrečné shrnutí hospitujícím) pdf, doc, odt.</li>
  </ul>
</ul>

<h2>Hospitace v ZS 2011/2012</h2>
<p>Závěry z hospitací budou zveřejněny, až hospitace proběhnou.</p>

<h3>Ohlášené hospitace, které jsou naplánované na konkrétní datum </h3>

