<% title :observations, :small=>"seznam přidělených hospitujících pro #{@observation.course.name} (#{@observation.course.code})" %>
<%= render :layout=>'datagrid',:locals => { :observers => @observers } do |observer| %>

  <%= action_icon :show,"icon-info-sign",observer.people,{},:show,observer.people %>
  <%= action_icon :destroy,"icon-remove",[@observation,observer],{confirm: t(:confirm), method: :delete},:update,@observation %>

<%end%>
<br />

<% if can?(:update,@observation) %>
  <div class="form-actions">
    <%= link_to t(:add_observer), new_observation_observer_path(@observation), :class=>"btn btn-primary" %>
  </div>
<% end %>