<div class="twipsies well">
<span>
  <strong>Autor:</strong> <%= render(note.people) %> | <%= l(note.updated_at, :format=>:long) %> 
  <span class="pull-right">
    <%= actions(:class=>"unstyled inline action") do 
      action_icon(:edit,"icon-pencil",edit_observation_note_path(@observation,note),{}, :update,note) + " " +
       action_icon(:destroy,"icon-remove",note,{confirm: t(:confirm), method: :delete},:destroy,note)
   end %>
  </span>
</span>
<p>
  <%= note.note.html_safe %>  
</p>
</div>
