<% title :parallel, :small=>"vyberte si paralelku"%>

<%= simple_form_for :parallel, :html => { :class => 'form-horizontal' } do |f| %>

  <%= render :layout => 'parallels/datagrid', :locals => { :parallels => @parallels } do |parallel| %>
      <%= radio_button_tag :parallel_id, parallel.id  %>
  <% end  %>

  <div class="form-actions">
	<%= f.submit "Vybrat", :class => 'btn btn-primary' %>
	<%#= button_tag 'Cancel', :type => :reset, :class => "btn" %>
  </div>

<% end %>