<% title :evaluation, :small=>"z výuky #{@observation.course.name} (#{@observation.course.code})" %>

<% 
  template = @form.form_template 
  entries = @form.get_root_entries
%>
<label>
<legend><%= "#{template.code}) #{template.name}" %></legend>
<p><strong>Vyplnil: </strong><%= @form.user.full_name || @form.user.login %></p>
<p><%= "#{template.description})" %></p>
<%= draw_dynamic_entries(entries,@form) %>  
</label>