<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>


<div id="tabls">
  <ul>
    <li><a href="#tabs-1">ooo</a></li>
    <li><a href="#tabs-2">aaa</a></li>
    <div id="tabs-1">dassa</div>
    <div id="tabs-2">da</div>
  </ul>
</div>