<% title "Lidé" %>


  
<div id="peoples">  

<%= render :layout=>"peoples" do |person| %>
      <%= link_to "Show", :controller=>"peoples", :action=>"show", :id=>person.id  %>
<% end %>

</div> 




 